{% extends "base.html" %}
{% block title %} Main {% endblock %}

{% block content %} 
<div class="container">
    <!-- Formulario add course -->
    <div class="row p-4 ">
        <form action="/add" method="POST" class="col-6">
            <h3 class="mb-2">Add a new course</h3>
            {% csrf_token %}
            <div class="mb-3 row g-3 align-items-center">
                <div class="col-2">
                    <label for="courseName" class="col-form-label">Name:</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" id="courseName" name="courseName" required>         
                </div>
            </div>       
            
            <div class="mb-3 row g-3 align-items-center">
                <div class="col-2">
                    <label for="description" class="col-form-label">Description:</label>
                </div>
                <div class="col-10">
                    <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                </div>
            </div> 
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>            
        </form>
    </div>

    <!-- Tabla con listado de courses -->
    <div class="row p-4 shad mb-4">
        <h3 class="mb-2">Courses</h3>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Description</th>
                <th scope="col">Date Added</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for course in allcourses %}
                    <tr>
                        <th scope="row">{{course.course_name}}</th>
                        <td>{{course.description.description}}</td>
                        <td>{{course.created_at}}</td>
                        <td>
                            <a href="/courses/destroy/{{course.id}}">Remove</a>
                            <a href="/courses/comment/{{course.id}}">Comment</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}