{% extends "base.html" %}
{% block title %} Remove {% endblock %}

{% block content %} 
<div class="container">
    <div class="row">
        <h2 class="text-center my-3">Are you really sure you want to delete he following course?</h2>
        <div class="col-6 offset-3">
            <h4 class="my-2">Name: {{course}}</h4>
            <p class="my-3"><strong>Description:</strong> {{descr}}</p>
            
            <!-- buttons -->
            <form action="/courses/delete/{{id}}" method="POST" class="">
                {% csrf_token %}
                <div class="d-grid gap-2 d-md-flex justify-content-center mb-2">                    
                    <button type="submit" class="btn btn-danger">Yes! I wanto to delete this course</button>
                </div> 
            </form>
            <div class="d-grid gap-2 d-md-flex justify-content-center">  
                 <a href="/back" class="btn btn-primary">No, I am not sure</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}